@font-face {
    font-family: 'Code128'; /*a name to be used later*/
    src: url('../fonts/code128.ttf'); /*URL to font*/
}



body {
    padding-top: 50px;
    padding-bottom: 20px;
    overflow:hidden;
    height:100%;
}

.body-content{
    overflow:hidden;
    height:100%;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



.row .no-float {
  display: table-cell;
  float: none;
}


.sidebar{
     box-shadow: 0px 0px 21px -3px rgba(0,0,0,0.38);
     border-right: 1px solid #bbb;
     

}

#schranke_div,#ticket_div{
    margin-left: 10px;
}

.ticket{
    display: none;
    box-shadow: 11px 14px 8px -6px rgba(0,0,0,0.2);
    border: 1px solid black;
  
    height: 350px;
    padding: 4px;
    text-align: center;
    font-family: Courier New, Courier, monospace;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
}

.ticket .value{
    font-size: 1.2em!important;
}

.ticket .barcode{
    font-family: "Code128";
    font-size: 50px;
    font-weight: normal;
}

.ticket .oben{
    font-size: 25px;
    font-weight: bold;

}

.ticket p{
    margin:0;
    padding:0;
}

.ticket ticket-parkplatznr,
.ticket ticket-stockwerk{
    font-size: 1.5em;
}

.ticket-preis,
.ticket-austrittsdatum{
    display: none;
}

.vis{
    height: 100%;
}

.vis .pp-row{
    overflow-y: scroll;
    height: 600px;
}

.vis .pp-row .pp {
    width: 50px;
    height: 60px;
    padding: 2px;
    margin: 1px;
    border: 1px solid gray;
    display:inline-block;
    text-align: center;
    box-sizing: border-box;
    margin-bottom:4px;
}

.vis .pp:hover {
    background-color:darkgrey;
}


.pp.frei{
    background-color:lightgreen;
}

.pp.belegt{
    background-color: lightcoral;
    cursor: pointer;
}

.pp.selected{
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,1);
}

#vis-legende .column{
   display:inline-block;
}

.legende{
   display: inline-block;
   margin-right: 5px;
}
.pp.legende{
    width: 17px;
    height: 20px;
    border: 1px solid black;
}

.vis .pp.dauermieter{
   box-shadow: inset 0px -15px 0px -3px rgba(0,140,255,1);
}

.alert{
    display: none;
}

.stockwerk-anzeige-tr input{
    border:none;

}

.stockwerk-anzeige-tr.edit input{
    border:inherit;
}

.konfiguration-tr .button[data-name=save]{
    display:none;
}
