

<div class="ticket">
    <div class="ticket-header">
        <p class="oben"><i class="glyphicon glyphicon-chevron-up"></i> OBEN <i class="glyphicon glyphicon-chevron-up"></i></p>
        <p class="barcode ticket-barcode"> Ticket12301 </p>
        <p class="ticket-ticketID">Ticket12301 </p>
    </div>
    <div class="ticket-body">
        <p>Eintrittsdatum:</p>
        <p class="ticket-eintrittsdatum value"></p>
        <p>Eintrittszeit:</p>
        <p class="ticket-eintrittszeit value"></p>
        <p>Stockwerk:</p>
        <p class="ticket-stockwerk value">OG 1</p>
        <p>Parkplatznummer: <span class="ticket-parkplatznr value">P22</span></p>
        <p>Austrittsdatum:</p>
        <p class="ticket-austrittsdatum value"></p>
        <p>Preis:</p>
        <p><span class="ticket-preis value"></span><span> CHF</span></p> 
    </div>
</div>
